In [15]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Import the datetime module from the datetime library.
from citipy import citipy

from datetime import datetime 
import requests

# Import the API key.
from config import weather_api_key 
# Import linear regression from the SciPy stats module.
from scipy.stats import linregress

In [20]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=35.782, size=100)
lngs = np.random.uniform(low=-180.000, high=180.000, size=100)
lat_lngs = zip(lats, lngs)
lat_lngs

In [21]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [22]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

67

In [23]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [24]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [25]:
# Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 5 == 0 and i >= 5):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + cities[i]

In [26]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 5 == 0 and i >= 5):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    # Run an API request for each of the cities.
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          }) 
        

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

# Indicate that Data Loading is complete.

Processing Record 1 of Set 14 | hobart
Processing Record 2 of Set 14 | catamarca
Processing Record 3 of Set 14 | khorramshahr
Processing Record 4 of Set 14 | kavaratti
Processing Record 5 of Set 14 | caravelas
Processing Record 1 of Set 15 | punta arenas
Processing Record 2 of Set 15 | ushuaia
Processing Record 3 of Set 15 | busselton
Processing Record 4 of Set 15 | necochea
Processing Record 5 of Set 15 | albany
Processing Record 1 of Set 16 | avarua
Processing Record 2 of Set 16 | tsihombe
City not found. Skipping...
Processing Record 3 of Set 16 | jamestown
Processing Record 4 of Set 16 | kruisfontein
Processing Record 5 of Set 16 | new norfolk
Processing Record 1 of Set 17 | puerto ayora
Processing Record 2 of Set 17 | san patricio
Processing Record 3 of Set 17 | carnarvon
Processing Record 4 of Set 17 | flinders
Processing Record 5 of Set 17 | rio grande
Processing Record 1 of Set 18 | bambous virieux
Processing Record 2 of Set 18 | east london
Processing Record 3 of Set 18 | taolanaro
City not found. Skipping...
Processing Record 4 of Set 18 | broome
Processing Record 5 of Set 18 | katsuura
Processing Record 1 of Set 19 | alofi
Processing Record 2 of Set 19 | mataura
Processing Record 3 of Set 19 | airai
Processing Record 4 of Set 19 | port blair
Processing Record 5 of Set 19 | isangel
Processing Record 1 of Set 20 | umm lajj
Processing Record 2 of Set 20 | hobyo
Processing Record 3 of Set 20 | coahuayana
Processing Record 4 of Set 20 | rikitea
Processing Record 5 of Set 20 | saint-philippe
Processing Record 1 of Set 21 | saleaula
City not found. Skipping...
Processing Record 2 of Set 21 | kapaa
Processing Record 3 of Set 21 | hilo
Processing Record 4 of Set 21 | bengkulu
Processing Record 5 of Set 21 | anlu
Processing Record 1 of Set 22 | kampot
Processing Record 2 of Set 22 | nador
Processing Record 3 of Set 22 | arraial do cabo
Processing Record 4 of Set 22 | bredasdorp
Processing Record 5 of Set 22 | birao
Processing Record 1 of Set 23 | makung
City not found. Skipping...
Processing Record 2 of Set 23 | bluff
Processing Record 3 of Set 23 | malanje
Processing Record 4 of Set 23 | alamogordo
Processing Record 5 of Set 23 | ahipara
Processing Record 1 of Set 24 | pauini
Processing Record 2 of Set 24 | sulangan
Processing Record 3 of Set 24 | lianran
Processing Record 4 of Set 24 | hermanus
Processing Record 5 of Set 24 | san lorenzo
Processing Record 1 of Set 25 | qidong
Processing Record 2 of Set 25 | ovalle
Processing Record 3 of Set 25 | hithadhoo
Processing Record 4 of Set 25 | samusu
City not found. Skipping...
Processing Record 5 of Set 25 | gizo
Processing Record 1 of Set 26 | saint george
Processing Record 2 of Set 26 | aracatuba
Processing Record 3 of Set 26 | tucuman
Processing Record 4 of Set 26 | mongo
Processing Record 5 of Set 26 | nikolskoye
Processing Record 1 of Set 27 | salalah
Processing Record 2 of Set 27 | taitung
-----------------------------
Data Retrieval Complete
-----------------------------

In [27]:
city_data

[{'City': 'Hobart', 'Lat': -42.8794, 'Lng': 147.3294},
 {'City': 'Catamarca', 'Lat': -28.4696, 'Lng': -65.7852},
 {'City': 'Khorramshahr', 'Lat': 30.4397, 'Lng': 48.1664},
 {'City': 'Kavaratti', 'Lat': 10.5669, 'Lng': 72.642},
 {'City': 'Caravelas', 'Lat': -17.7125, 'Lng': -39.2481},
 {'City': 'Punta Arenas', 'Lat': -53.15, 'Lng': -70.9167},
 {'City': 'Ushuaia', 'Lat': -54.8, 'Lng': -68.3},
 {'City': 'Busselton', 'Lat': -33.65, 'Lng': 115.3333},
 {'City': 'Necochea', 'Lat': -38.5473, 'Lng': -58.7368},
 {'City': 'Albany', 'Lat': 42.6001, 'Lng': -73.9662},
 {'City': 'Avarua', 'Lat': -21.2078, 'Lng': -159.775},
 {'City': 'Jamestown', 'Lat': 42.097, 'Lng': -79.2353},
 {'City': 'Kruisfontein', 'Lat': -34.0033, 'Lng': 24.7314},
 {'City': 'New Norfolk', 'Lat': -42.7826, 'Lng': 147.0587},
 {'City': 'Puerto Ayora', 'Lat': -0.7393, 'Lng': -90.3518},
 {'City': 'San Patricio', 'Lat': 28.017, 'Lng': -97.5169},
 {'City': 'Carnarvon', 'Lat': -24.8667, 'Lng': 113.6333},
 {'City': 'Flinders', 'Lat': -34.5833, 'Lng': 150.8552},
 {'City': 'Rio Grande', 'Lat': -32.035, 'Lng': -52.0986},
 {'City': 'Bambous Virieux', 'Lat': -20.3428, 'Lng': 57.7575},
 {'City': 'East London', 'Lat': -33.0153, 'Lng': 27.9116},
 {'City': 'Broome', 'Lat': 42.2506, 'Lng': -75.833},
 {'City': 'Katsuura', 'Lat': 35.1333, 'Lng': 140.3},
 {'City': 'Alofi', 'Lat': -19.0595, 'Lng': -169.9187},
 {'City': 'Mataura', 'Lat': -46.1927, 'Lng': 168.8643},
 {'City': 'Airai', 'Lat': -8.9266, 'Lng': 125.4092},
 {'City': 'Port Blair', 'Lat': 11.6667, 'Lng': 92.75},
 {'City': 'Isangel', 'Lat': -19.55, 'Lng': 169.2667},
 {'City': 'Umm Lajj', 'Lat': 25.0213, 'Lng': 37.2685},
 {'City': 'Hobyo', 'Lat': 5.3505, 'Lng': 48.5268},
 {'City': 'Coahuayana', 'Lat': 18.7333, 'Lng': -103.6833},
 {'City': 'Rikitea', 'Lat': -23.1203, 'Lng': -134.9692},
 {'City': 'Saint-Philippe', 'Lat': -21.3585, 'Lng': 55.7679},
 {'City': 'Kapaa', 'Lat': 22.0752, 'Lng': -159.319},
 {'City': 'Hilo', 'Lat': 19.7297, 'Lng': -155.09},
 {'City': 'Bengkulu', 'Lat': -3.8004, 'Lng': 102.2655},
 {'City': 'Anlu', 'Lat': 31.1661, 'Lng': 112.5831},
 {'City': 'Kampot', 'Lat': 10.6167, 'Lng': 104.1833},
 {'City': 'Nador', 'Lat': 35.174, 'Lng': -2.9287},
 {'City': 'Arraial Do Cabo', 'Lat': -22.9661, 'Lng': -42.0278},
 {'City': 'Bredasdorp', 'Lat': -34.5322, 'Lng': 20.0403},
 {'City': 'Birao', 'Lat': 10.2849, 'Lng': 22.7882},
 {'City': 'Bluff', 'Lat': -46.6, 'Lng': 168.3333},
 {'City': 'Malanje', 'Lat': -9.5402, 'Lng': 16.341},
 {'City': 'Alamogordo', 'Lat': 32.8995, 'Lng': -105.9603},
 {'City': 'Ahipara', 'Lat': -35.1667, 'Lng': 173.1667},
 {'City': 'Pauini', 'Lat': -7.7136, 'Lng': -66.9764},
 {'City': 'Sulangan', 'Lat': 11.1373, 'Lng': 123.7228},
 {'City': 'Lianran', 'Lat': 24.9227, 'Lng': 102.485},
 {'City': 'Hermanus', 'Lat': -34.4187, 'Lng': 19.2345},
 {'City': 'San Lorenzo', 'Lat': -25.3333, 'Lng': -57.5333},
 {'City': 'Qidong', 'Lat': 31.8128, 'Lng': 121.6561},
 {'City': 'Ovalle', 'Lat': -30.5983, 'Lng': -71.2003},
 {'City': 'Hithadhoo', 'Lat': -0.6, 'Lng': 73.0833},
 {'City': 'Gizo', 'Lat': -8.103, 'Lng': 156.8419},
 {'City': 'Saint George', 'Lat': 37.1041, 'Lng': -113.5841},
 {'City': 'Aracatuba', 'Lat': -21.2089, 'Lng': -50.4328},
 {'City': 'Tucuman', 'Lat': -26.8241, 'Lng': -65.2226},
 {'City': 'Mongo', 'Lat': 12.1844, 'Lng': 18.693},
 {'City': 'Nikolskoye', 'Lat': 59.7035, 'Lng': 30.7861},
 {'City': 'Salalah', 'Lat': 17.0151, 'Lng': 54.0924},
 {'City': 'Taitung', 'Lat': 22.7583, 'Lng': 121.1444}]

In [30]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

           City      Lat       Lng
0        Hobart -42.8794  147.3294
1     Catamarca -28.4696  -65.7852
2  Khorramshahr  30.4397   48.1664
3     Kavaratti  10.5669   72.6420
4     Caravelas -17.7125  -39.2481
5  Punta Arenas -53.1500  -70.9167
6       Ushuaia -54.8000  -68.3000
7     Busselton -33.6500  115.3333
8      Necochea -38.5473  -58.7368
9        Albany  42.6001  -73.9662

In [32]:
city_data_df.to_csv(r'lat_lng.csv', encoding='utf-8', index=False)